# vim: set ft=ruby

port 9293

data_directory "/tmp/litmus_paper"

cache_location "/tmp/litmus_paper_cache"
cache_ttl -1

service :test do |s|
  s.depends Dependency::HTTP, "http://localhost/heartbeat"

  s.measure_health Metric::CPULoad, :weight => 50
end

service :passing_test do |s|
  s.measure_health Metric::CPULoad, :weight => 50
  s.depends Dependency::Script, "/bin/true"
end
