# vim: ft=ruby

service :one_arg do |s|
  s.depends Dependency::HTTP, "http://localhost/heartbeat"
end

service :one_arg_with_options do |s|
  s.depends Dependency::HTTP, "http://localhost/heartbeat", :method => "POST"
end

service :two_args do |s|
  s.depends Dependency::TCP, "127.0.0.1", 65534
end

service :two_args_with_options do |s|
  s.depends Dependency::TCP, "127.0.0.1", 65535, :timeout_seconds => 1
end
